.bets {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
}

.bets li {
    float: left;
    margin: 0 5px 0 0;
    width: 100px;
    height: 40px;
    position: relative;
}

.bets label,
.bets input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bets input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}

.bets input[type="radio"]:checked+label,
.Checked+label {
    background: yellow;
}

.bets label {
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
}

.bets label:hover {
    background: #DDD;
}
#spin>button{
    margin-top: 10px;
    width: 300px;
    height: 50px;

}
#roller{
    margin-top: 10px;
    display: flex;
    visibility: hidden;
    flex-flow: column wrap;
    width: 600px;
    height: 600px;
    background: aqua;
}
#unit{
    width: 602px;
    margin: 0 auto;
}

.rolls{

    width: 194px;
    height: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    border: 1px solid darkcyan;
}
.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    width: 100px;
    height: 100px;
    background-color: #ccc;

}